<div id="catalogue-values">
    <h3> Catalogue Values</h3>
    <em>Coming soon</em>
    @*<table class="table table-striped">
        <tbody>
            <tr>
                <td>Sassone</td>
                <td>€2000</td>
            </tr>
            <tr>
                <td>Unificato</td>
                <td>€1750</td>
            </tr>
            <tr>
                <td>Bolaffi</td>
                <td>€2100</td>
            </tr>
        </tbody>
    </table>*@
</div>
