@using ProjectZakynthos.Domain.Philately
@model PhilatelicItem

<div id="past-auctions">
    <h3>Past Auctions</h3>
    <div>
        <a data-toggle="collapse" data-target="#past-auctions-tabular" class="pointer">Tabular</a>
        |
        <a data-toggle="collapse" data-target="#past-auctions-graph" class="pointer">Graph</a>
    </div>
    <div id="past-auctions-tabular" class="collapse in">
        <div class="row">
            <div class="col-md-3">
                <h4>Auction House</h4>
            </div>
            <div class="col-md-3">
                <h4>Date</h4>
            </div>
            <div class="col-md-3">
                <h4>Starting bid</h4>
            </div>
            <div class="col-md-3">
                <h4>Sold at</h4>
            </div>
        </div>
        @foreach (var auction in Model.PastAuctions)
        {
            <div class="row">
                <div class="col-md-3">
                    @auction.AuctionHouse
                </div>
                <div class="col-md-3">
                    @auction.AuctionDate.Date.ToShortDateString()
                </div>
                <div class="col-md-3">
                    £@auction.StartingBid
                </div>
                <div class="col-md-3">
                    @if (auction.Sold)
                    {
                        @auction.Realisation
                    }
                    else
                    {
                        <span>not sold</span>
                    }                    
                </div>
            </div>
        }        
    </div>
    <div id="past-auctions-graph" class="collapse">
        <canvas id="myChart" width="400" height="60"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script>
        var data = {
            labels: ["Vaccari 01/15", "Ghiglione 11/15", "Gartner 05/16", "Ferrario 04/17"],
            datasets: [
                {
                    label: "Auction results",
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [300, 150, 250, 280],
                    spanGaps: false,
                }
            ]
        };

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
</script>