body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* General*/
.red {
    color: red;
}

.white {
    color: white;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.suggestion{
    color: lightgray;
    font-weight:600;
}

/* Home*/
#home-banner{
 background-image: url("Images/home1.jpg");
 color: white;
}

/* Wishlist */
#wishlist {
    margin: 20px 0 60px 0;
}

#wishlist .row {
    border-bottom: 1px solid #808080;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* wished Item*/
#past-auctions .row, #upcoming-auctions .row {
    border-bottom: 1px solid #808080;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#bid-suggestion{
    margin-top: 1.5em;
}

#catalogue-values{
    margin-top: 2.5em;
}
