@{
    ViewBag.Title = "Home Page";
}

<div id="home-banner" class="jumbotron">
    <h2>Project Zakynthos (provisional)</h2>
    <p class="lead">Find the stamps you really want to add to your collection</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Create your wishlist</h2>
        <p>Let us know what are those stamps you really want to add to your collection next (up to 12 items initially)</p>
        <p><a class="btn btn-default" href="/demo/wishlist">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming auctions</h2>
        <p>
            See the upcoming auctions where the stamps you are looking for are going to be offered.
            Get suggestions about the bids that give you the best chances of getting the stamps you want.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Past auctions</h2>
        <p>See the past auctions where those stamps have been offered and the prices they were sold for.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>