
@{
    ViewBag.Title = "Wishlist";
}

<h2>Your wishlist</h2>
<div id="wishlist">
    <div class="row">
        <div class="col-md-6">
            &nbsp;
        </div>
        <div class="col-md-4"> <h4>Next auction</h4></div>
        <div class="col-md-2"> <h4>Suggested bid</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("1929, Egeo, serie 'Pittorica'", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"><span class="pointer" data-toggle="tooltip" title="Ferrario Casa d'aste">06/11/2017</span></div>
        <div class="col-md-2"><span class="pointer" data-toggle="tooltip" title="Criteria: mimimum bid with a chance of success">€170</span></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("1930, Egeo, XXI Congresso Idrologico", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"><span class="pointer" data-toggle="tooltip" title="Ferrario Casa d'aste">06/11/2017</span></div>
        <div class="col-md-2"><span class="pointer" data-toggle="tooltip" title="Criteria: I absolutely want it!">€2100</span></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("1941, Zante, Previdenza sociale 1d azzurro, Sass.25 ", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"><span class="pointer" data-toggle="tooltip" title="Ghiglione - Aste filateliche">10/09/2017</span></div>
        <div class="col-md-2"><span class="pointer" data-toggle="tooltip" title="Criteria: good chances of success">€250</span></div>
    </div>
</div>


@section scripts{
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

}