
@{
    ViewBag.Title = "Wishlist";
}

<h2>Your wishlist</h2>
<div id="wishlist">
    <div class="row">
        <div class="col-md-6">
            &nbsp;
        </div>
        <div class="col-md-4"> <h4>Next auction</h4></div>
        <div class="col-md-2"> <h4>Suggested bid</h4></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Egeo, 1929, serie 'Pittorica'", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"> <span class="pointer" data-toggle="tooltip" title="Ferrario Case d'aste">06/11/2017</span></div>
        <div class="col-md-2">£170</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Egeo, 1930, XXI Congresso Idrologico", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"><span class="pointer" data-toggle="tooltip" title="Ferrario Case d'aste">06/11/2017</span></div>
        <div class="col-md-2">£1100</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Zante, 1941, Previdenza sociale 1d azzurro, Sass.25 ", "Index", "Wish", new { area = "Demo" }, null)
        </div>
        <div class="col-md-4"><span class="pointer" data-toggle="tooltip" title="Ghiglione - Aste filateliche">10/09/2017</span></div>
        <div class="col-md-2">£250</div>
    </div>
</div>


@section scripts{
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

}